/*Reset code here*/

html, body, div, span, applet, object, iframe,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,  
del, dfn, em, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var,  
b, u, i, center,  
dl, dt, dd, ol, ul, li,  
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, embed,  
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary,  
time, mark, audio, video {  
margin: 0;  
padding: 0;  
border: 0;  
font-size: 100%;  
font: inherit;  
vertical-align: baseline;  
}

/* Add CSS styling here */

/*General*/
body{
    background-color:lightseagreen;
    border:1.5rem solid indigo;
}

.pgBrdr{
    width:95%;
    margin:0 auto;
}

/*Top of page*/
header{
    text-align:center;
}

header h1{
    font-size:5rem;
    padding:2rem;
}

header nav{
    width:100%;
    display:flex;
    justify-content:center;
}

header nav a{
    box-sizing:border-box;
    padding:10px;
    margin:0;
    max-width:100%;
    border:.1rem;
    border-width:.5rem 3rem;
    background-color:greenyellow;
    font:black;
}

header nav a:hover{
    background-color:black;
    color:greenyellow;
}

/*Introduction Section*/

.siteIntro, .introHead{
    padding:2rem;
    font-size:3rem;
    text-align:center;
}

.siteIntro p{
    font-size:1.3rem;
    padding:1.5rem;
}


/*Gallery Section*/

.centerImg{
    display:flex;
    align-items:center;
    justify-content:space-evenly;
}

.centerImg img{
    width:100%;
    padding:2rem;
    height:50vh;
}

.projectGallery{
    display:flex;
    flex-wrap:nowrap;
    flex-direction:row;
}

.projectGallery img{
    width:20%;
    height:50vh;
    padding:1rem;
}

.galleryDesc{
    display:flex;
    justify-content:center;
    flex-direction:column;
    text-align:center;
    font-size:1.2rem;
}

/*Footer Content*/

footer{
    text-align:center;
    box-sizing:border-box;
    padding:4rem;
    margin:0;
    max-width:100%;
    border-color:lightseagreen;
    border-width:.5rem 3rem;
    background-color:greenyellow;
    font:black
}

footer nav{
    width:100%;
    display:flex;
    justify-content:center;
}

footer nav a{
    box-sizing:border-box;
    padding:.5rem;
    margin:0;
    max-width:100%;
    border:.1rem;
    border-width:.5rem 3rem;
    background-color:greenyellow;
    font:black
}

footer nav a:hover{
    background-color:black;
    color:greenyellow;
}

/*Accessabiliy*/

@media(max-width:800px){

}